{% extends 'base.html' %}

{% block title %}
Blog
{% endblock title %}

{% block body %}

<div class="container">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 border bg-light">Chelsea vs burnley 0-4</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">liverpool vs westham 1-0</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">watford vs arsenal 2-3</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">man city vs man united 4-1</div>
    </div>
  </div>
</div>
{% endblock body %}