{% comment %} {% extends 'base.html' %} {% endcomment %}
{% comment %} 
{% block title %}
{{ student.name | title }}
{% endblock title %}


{% block body %}

{% comment %} <div class = "container">
    <h1>{{ student.name }}</h1>
    <p>{{ student.messege }} </p><br>
</div>
<div class = "container">
    <h3>Contact Info</h3>
    <p>Email: {{ student.email }} </p><br>
</div>
<div class = "container">
    <h3>Personal Info</h3>
    <p>score: {{ student.score }} </p>
    <p>Subject: <strong>{{student.subject]=[] }} </strong></p>
</div> {% endcomment %}

